AllowShortFunctionsOnASingleLine: All
BreakBeforeBraces: Allman
BreakBeforeBinaryOperators: NonAssignment
AlignOperands: true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false

