BasedOnStyle: Chromium
IndentWidth: 4
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Allman
# BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBinaryOperators: None
AlignOperands: true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: Align
PenaltyBreakAssignment: 100
PenaltyBreakBeforeFirstCallParameter: 1000

