test_choice
test_choice2
test_compound_transition
test_conref
test_deephistory
test_defer
test_do
test_fork
test_guards_actions
test_join
test_junction
test_queue
test_simple
test_simple_substate
test_stack
test_terminate
test_transition_prio
test_xmi_machine
