changelog:
  exclude:
    labels:
      - ignore-for-release
    authors:
      - octocat
  categories:
    - title: Breaking Changes
      labels:
        - Semver-Major
        - breaking-change
    - title: New features
      labels:
        - Semver-Minor
        - enhancement
    - title: Other Changes
      labels:
        - "*"
